/*
File: Three lines homepage stylesheet
Authors: Haohang Guo, Casey Hartsough
Date Created: 07/20/21
Last Updated: 07/21/21

*/

html{
  color: black;

  background-color: rgb(231, 221, 198);
}
body{
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
form{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

.content{

  line-height: 200%;
  font-size: large;
  position: absolute;
  top: 28%;
  left: 7.5%;
  height: 62%;
  width: 69%;
  padding-bottom: 6%;
  margin-bottom: 30px;
}


.logoImg {
  position: absolute;
  left: 5%;
  top: 2%;
  width: 40%;
}

.histImg {
  position: absolute;
  left: 7%;
  top: 2%;
  width: 30%;
}

.poemsImg {
  position: absolute;
  left: 6%;
  top: 2%;
  width: 33%;
}

.howImg {
  position: absolute;
  left: 8%;
  top: 3%;
  width: 50%;
}

.quizImg {
  position: absolute;
  left: 8%;
  top: 2%;
  width: 15%;
}

.navBar{
  position: absolute;
  top: 23%;
  width: 80%;
  z-index: 0;
  left: 5%;
}

.sample{
  margin-top: 3%;
  margin-left: 3%;
  margin-right: auto;
  padding-bottom: 3%;
}

.nav{
  font-style: italic;
  font-family: cursive;
  font-size: x-large;
  display: inline-block;
  color:black;
  margin-left: 4%;
  z-index: 1;
}

.line{
  height:0px;
  border: 1px solid black;
}

 #crest.back{
  position: absolute;
  top: 9%;
  width: 88%;
  height: 40%;
  left: 7%;
  z-index: -1;
}

.about {
  font-size: 24px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 5%;
  border-top: 2px solid #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
}


.copyrightPoems {
  text-align: center;
  padding: 2px;
  border-top: 2px solid #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
  width: 99%;
  font-size: 18px;
}

.copyrightMain {
  text-align: center;
  padding: 2px;
  border-top: 2px solid #2f2f2f;
  border-bottom: 2px solid #2f2f2f;
  width: 99%;
  font-size: 18px;
}

.contactTitle{
    position: absolute;
   left: 6%;
   top: 1%;
   font-size: 80px;
   font-style: italic;
  z-index: 1;
}

.links{
  font-weight: bold;
  color: gray;
}

#sampleVideo.sample{
  text-align: center;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: inherit;
  margin-bottom: inherit;
}

#contactUs.sample{
  text-align: center;
}

#sampleHistory {
  border-bottom: 2px solid #2f2f2f;
}

#samplePoem.sample{
  text-align: center;
  font-weight: bolder;
  font-family: fantasy;
  margin-top: 4%;
  margin-right: inherit;
  border-bottom: 2px solid #2f2f2f;
}


#centeringBox{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}


#poemBox{
  display: flex;
  flex-direction: column;
  align-items:baseline;
  justify-content: center;
  line-height: 50%;
  margin-bottom: 50px;
}

